<div class="login">
  <h1 id="login-text">Log In</h1>
  <form action="/sessions" method="post">
    <div class="form-group" >
      <input class="form-control" type="text" name="user[username]" placeholder="demo: mattbaker for admin privileges"><br>
      <input class="form-control" for="exampleInputPassword1" type="password" name="user[password]" placeholder="demo: 1234 for admin privileges"><br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

  <p><%= link_to "Signup for a free account!", signup_path %></p>
</div>


