<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Favorite Movie Community</h1>
            <hr>
            <p>Rotten Potatoes is the best. Period. Nothing is better.</p>
            <a href="/movies" class="btn btn-primary btn-xl page-scroll">Check Out The Latest Reviews</a>
        </div>
    </div>
</header>
