/*#nav-title {
  font-weight: bold;
  font-size: 3em;
}*/

/*nav li {
  display: inline-block;
  margin: 0 80px;
}*/

input {
  display: block;
}

input[type="text"], input[type="password"] {
  width: 300px;
  margin: auto;
}


.login {
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 4%
}

body {
  background-color: #424242;
}

#login-text {
  color: #FFFFF9;
  font-family: helvetica;
}
