input {
  display: block;
}

input[type="text"], input[type="password"] {
  width: 300px;
  margin: auto;
}


.login {
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 4%
}

body {
  background-color: #424242;
  color: lightgray;
}

#login-text {
  color: #FFFFF9;
  font-family: helvetica;
}

.title-td {
  padding: 0 80px 0 0;
}

.index {
  margin-top: 7%;
}

.movie-index-heading {
  color: lightgray;
  text-align: center;
}

.img-responsive {
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
}

.title-td{
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 1.5em;

}

.title-td a {
  color: #FF974F;
}


.title-td a:hover {
  color: white;
  text-decoration: none;

}

